{% extends 'gui/base.html' %}
{% load static %}

{% block content %}

  <div class="slider-item overlay" data-stellar-background-ratio="0.5"
    style="background-image: url('{% static 'gui/assets/bbwd-background-final.png' %}');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-lg-12 col-sm-12">
          <h1 class="mb-4" data-aos="fade-up" data-aos-delay="">Office Life</h1>
          <p class="custom-breadcrumbs" data-aos="fade-up" data-aos-delay="100"><a href="{% url 'index' %}">Home</a> <span class="mx-3">/</span> About</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
          <figure class="img-dotted-bg">
            <img src="{% static 'gui/assets/hero_2.jpg' %}" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-md-5 mr-auto" data-aos="fade-up" data-aos-delay="">
          <h2 class="mb-4 section-title">Company Info</h2>
          <p>We're in the business of developing internet applications to our clients. As Black Box Web Designs we specialize in web and mobile development related to rental type businesses along the panhandle in Florida. We integrate your application with the top rental services like VRBO, Homeaway, and Airbnb. We also setup booking throughout our customers sites so that your clients can book their vacation plans directly on your site, doing away with rental fee's that you would normally have to pay to the various rental services.</p>
          <p>Even though we specialize in developing rental websites, the associates at Florida Rental Technologies are very skilled and technical in all areas of web and mobile development. We have much experience in other areas and love creating any type of software that fits our customers needs.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center" data-aos="fade-up" data-aos-delay="">
          <h2 class="mb-4 section-title">The Leadership</h2>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="{% static 'gui/assets/dustin.png' %}" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Dustin Landry</h3>
              <p>Dustin Landry is the current CEO of Florida Rental Technologies and acting software developer. He has over four years of enterprise level experience in a variety of fields, including Web and Mobile development, as well as QA, and has a bachelors degree in Computer Science from the University of Louisiana at Lafayette.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="{% static 'gui/assets/q.jpg' %}" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Quentin Jones</h3>
              <p>Quentin Jones is a junior architect, and current lead developer at Florida Rental Technologies, with over seven years of experience in the product development field. He has a bachelors degree in Computer Science from the University of Louisiana at Lafayette, and has much experience in building Web, Mobile, and Kiosk technologies for top customers in the oil field.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  <!-- END section -->

  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
          <figure class="img-dotted-bg">
            <img src="{% static 'gui/assets/about_2.jpg' %}" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="">
          <h2 class="mb-4 section-title">Company History</h2>
          <p>Our business is a small LLC started in 2019. We've had several projects so far, however together our experience exceeds that of Black Box Web Designs. Collectively have have over a decade of experience in technical consulting and product development. Our experience includes working with clients like Caterpillar Inc, University of Colorado, AAA, Florida Blue, PHI, and much more.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
